*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.barralateral {
    position: relative;
    width: 30vh;
    background-color: #018790;
    color: white;
    flex-shrink: 0;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.barralateral a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    padding: 10px 0;
}

.barralateral h4{
    margin-left: 2vh;
    margin-bottom: 1vh;
    position: absolute;
    bottom: 0;
}

.barralateral-header{
    background-color: #005461;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    
}

.barralateral-header h2{
    margin-left: 1vh;
    gap: 10px;
}
.content {
    background-color: #F4F4F4;
    margin-left: 30vh;
    width: calc(100% - 30vh);
    height: 100vh;
    overflow-y:auto ;
    padding: 40px;
}
.menu a {
    transition: background-color 0.3s ease-in-out; 
    padding-left: 2vh;
}
.menu a:hover {
    background-color: #8ea4b4;
}
.menu a:active {
    background-color: #5e6f7a;
    transition: none
    ;
}