.content form{
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
}

.checkboxBonito{
    background-color: #e7e7e7;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
}

h3{
    color: #868686;
    padding: 1vh;
    margin: auto;
    margin-left: 1.5vh;
}

.checkboxobjetos{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 0.5vh;
}

h1{
    margin-bottom: 2vh;
}

.agregarIcono{
    width: 45vh;
    height: 52vh;
}

.agregarColor{
    width: 45vh;
    height: 12vh;

}

.iconos{
    width: 38.5vh;
}

.colores{
    width: 38.5vh;
}

input[type="radio"] {
    display: none;
}

.radio-fa {
    width: 6vh;
    height: 6vh;
    border: 2px solid #ccc;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 26px;
    color: #666;
    transition: all 0.2s ease;
    background-color: #ccc;
    border: none;
}

.colores .radio-fa i {
    opacity: 0;
}

.colores .radio-fa{
    width: 4.37vh;
    height: 4.37vh;
}

.rojo{
    background-color: #FF0000;
}
.naranja{
    background-color: #FF932E;
}
.amarillo{
    background-color: #FFCB2E;
}
.verde{
    background-color: #46D100;
}
.aguaMarina{
    background-color: #00D1D1;
}
.azul{
    background-color: #2EC7FF;
}
.morado{
    background-color: #932EFF;
}
.rosado{
    background-color: #E02EFF;
}

.iconos .radio-fa:hover {
    background-color: #018790;
    color: white;
    transform: scale(1.20);
}

.colores .radio-fa:hover{
    filter: brightness(0.85);
    transform: scale(1.20);
}

.iconos input[type="radio"]:checked + .radio-fa {
    border-color: #018790;
    background-color: #e6f0ff;
    color: #018790;
}

.colores input[type="radio"]:checked + .radio-fa i{
    opacity: 100;
    color: white;
}

.nombre{
    background-color: #e7e7e7;
    border-radius: 3vh;
    width: 45vh;
    height: 12vh;
}

.nombre input{
    width: 40vh;
    height: 5vh;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    outline: none;
    border-radius: 2vh;

    padding-left: 2vh;
    font-size: 2vh;

    transition: all 0.3s ease;
}

.nombre input:focus{
    transform: scale(1.03);
}

.botonCrear {
    text-decoration: none;
    
    width: 12vh;
    height: 50px;

    border-radius: 2vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #005461; 
    color: white;              
    font-size: 24px;            
    border: none;             
    cursor: pointer;          
    transition: background 0.3s; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

    
}

.botonCrear:hover {
    background-color: #003e47;
}

.botonCrear:active {
    transform: scale(0.95);
}

.botonCrear i {
    padding-right: 6px;
}