h1{
    margin-bottom: 2vh;
}

.agregarIcono{
    width: 45vh;
    height: 52vh;

    border-radius: 4%;

    background-color: #e7e7e7;
    justify-content: center;
    align-items: center;

}

.agregarIcono h3{
    color: #868686;
    padding: 1vh;
    margin: auto;
    margin-left: 1.5vh;
}

.iconos{
    display: flex;
    flex-wrap: wrap;
    width: 38.5vh;
    margin: auto;
    gap: 0.5vh;
}

input[type="radio"] {
    display: none;
}

  /* Estilo base del botón */
.radio-fa {
    width: 6vh;
    height: 6vh;
    border: 2px solid #ccc;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 26px;
    color: #666;
    transition: all 0.2s ease;
    background-color: #ccc;
    border: none;
}

  /* Hover */
.radio-fa:hover {
    border-color: #999;
    background-color: #018790;
    color: white;
    transform: scale(1.20);
}

  /* Estado seleccionado */
input[type="radio"]:checked + .radio-fa {
    border-color: #018790;
    background-color: #e6f0ff;
    color: #018790;
}
