body {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.5px;
}

.botonCrear {
  width: 50px;
  height: 50px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #007bff; 
  color: white;              
  font-size: 24px;          
  border: none;             
  cursor: pointer;          
  transition: background 0.3s; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.botonCrear:hover {
  background-color: #0056b3;
}

.botonCrear:active {
  transform: scale(0.95);
}

.content img{
  border-radius: 100%;
  height: 5vh
  ;
}