.botonCrear {
  width: 50px;
  height: 50px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #005461; 
  color: white;              
  font-size: 24px;            
  border: none;             
  cursor: pointer;          
  transition: background 0.3s; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

  position: absolute;
  bottom: 0;
  right: 0;
  margin: 3vh;

}

.botonCrear:hover {
  background-color: #003e47;
}

.botonCrear:active {
  transform: scale(0.95);
}

.titulo{
  width: 100%;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
}

.titulo hr{
  margin-left: 15px;
  height: 5px;
  background-color: #005461;
  border: none;
  width: 100%;
  border-radius:50vh ;
}

.targetas{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.targeta{
  position: relative;
  padding-left: 56px;

  text-align: center;
  align-items: center;

  padding: 16px;
  width: 25vh;
  margin: 1vh;

  background-color: #f5f5f5;
  border-radius: 20px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  cursor: pointer;
}

.targeta i {
  padding-right: 1vh;
}

.targeta p{
  color: #868686;
}



