body {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.5px;
}

.botonCrear {
  width: 50px;
  height: 50px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #007bff; 
  color: white;              
  font-size: 24px;          
  border: none;             
  cursor: pointer;          
  transition: background 0.3s; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

  position: absolute;
  bottom: 0;
  right: 0;
  margin: 3vh;

}

.botonCrear:hover {
  background-color: #0056b3;
}

.botonCrear:active {
  transform: scale(0.95);
}

.titulo{
  width: 100%;
  margin-bottom: 1vh;
  display: flex;
  align-items: center;
}

.titulo hr{
  margin-left: 15px;
  height: 5px;
  background-color: #005461;
  border: none;
  width: 100%;
  border-radius:50vh ;
}

.targetas{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.targeta{
  position: relative;
  padding-left: 56px;

  text-align: center;
  align-items: center;

  padding: 16px;
  width: 25vh;
  margin: 1vh;

  background-color: #f5f5f5;
  border-radius: 20px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.targeta i {
  padding-right: 1vh;
}

.targeta p{
  color: #868686;
}

.tareasContenedor h3{
  color: #868686;
  margin-bottom: 2vh;
}

.tareas{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 3vh;
  color: #555555;
}



.sinCompletar{
  margin-bottom: 2vh;
}

.tachar{
  text-decoration: line-through;
}

