.barrasuperior {
    background-color: #005461;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}
.barrasuperior h2{
    margin-left: 1vh;
    gap: 10px;

}
main {
margin: 10vh 0vw 2vw 5vw;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    gap: 0px;
    overflow: auto;
    height: 100%;
    
}
.landing-left {
    width: 100%;
    flex: 1;
    font-size: 25px;
    margin-top: 10vh;
    font-family: geist;
}
p {
    font-size: 20px;
}
.landing-right {
    flex: 1.2;
    scale: 1;
}
* {
    outline: 0px solid red;
}
@media (max-width: 758px) {
main {
    justify-content: center;
}
}
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: #020024;
background: linear-gradient(0deg, #ffffff 0%, #e8d0ff 35%, #8a95ff 100%);
}