.barrasuperior {
    background-color: #005461;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}
.barrasuperior h2{
    margin-left: 1vh;
    gap: 10px;

}
main {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    gap: 30px;
}
.landing-left {
    max-width: 45%;
    min-width: 300px;
    flex: 1;
}