body {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.5px;
}
input[type="text"] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block; 
    border: 1px solid #ccc; 
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 16px;
    border-color: #8b8b8b;
    outline: none;
    font-family: quicksand;
}
textarea {
    width: 100%;
    padding-top: 94px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 7px 0;
    display: inline-block; 
    border: 1px solid #ccc; 
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 16px;
    border-color: #8b8b8b;
    outline: none;
    background-image: url("../imagenes/fondocuaderno.jpg");
    resize: none;
    height: 46.5vh;
    line-height: 2.05;
}
input[type="date"] {
    appearance: none; 
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block; 
    border: 1px solid #ccc; 
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 16px;
    border-color: #8b8b8b;
    outline: none;
    font-family: quicksand;
}

.formulario1 {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    gap: 30px;

    
}
#fechalimite{
    margin-top: 10px;
}
#prioridad {
    margin-top: 10px;
}
.izquierda {
    max-width: 45%;
    min-width: 300px;
    flex: 1;
}
.derecha {
    max-width: 45%;
    min-width: 300px;
    flex: 1;
}
.columnaizquierda {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:rgb(0, 0, 0);
    height:10px;
    width:10px;
    margin-bottom: 30px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    cursor: pointer;
    transform: scale(1.3);
}
input[type="text"]:focus{
    outline: none !important;
    border-color: gray;
    box-shadow: 0 0 8px gray;
}
select {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0; 
    border: 1px solid #ccc; 
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 16px;
    border-color: #8b8b8b;
    outline: none;
    background-color: white;
    font-family: quicksand;
}
select:focus{
    outline: none !important;
    box-shadow: 0 0 8px gray;
}
input[type="date"]:focus {
    outline: none !important;
    box-shadow: 0 0 8px gray;
}
#categoria {
    margin-top: 8px;
}
input[type="time"] {
    position: relative;
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0; 
    border: 1px solid #ccc; 
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 16px;
    border-color: #8b8b8b;
    outline: none;
    background-color: white;
    font-family: quicksand;
}
input[type="time"]:focus {
    outline: none !important;
    box-shadow: 0 0 8px gray;
}
button {
    position: relative;
    width: 45%;
    padding: 10px 15px;
    margin: 8px 0; 
    border: 1px solid #ccc; 
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 24px;
    border-color: #8b8b8b;
    outline: none;
    background-color: #018790;
    font-family: quicksand;
    color: white;
    font-weight: 1000;
    cursor: pointer;
    transition: transform 0.1s ease;
}
button:active {
    background-color: #006f77;
    transform: scale(0.95) !important;

}
button:hover {
    transform: scale(1.05);
}
form {
    position: relative;
}