body {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.5px;
}

.fondo {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    width: 100%;
}
input[type="text"] {
    width: 35vw;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block; 
    border: 1px solid #ccc; 
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 16px;
    border-color: #8b8b8b;
    outline: none;
}
textarea {
    width: 35vw;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 7px 0;
    display: inline-block; 
    border: 1px solid #ccc; 
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 16px;
    border-color: #8b8b8b;
    outline: none;
    background-image: url("../imagenes/fondocuaderno.jpg");
    resize: none;
    height: 70vh;
    line-height: 2.05;
}
input[type="date"] {
    appearance: none; 
    position: absolute;
    margin: 8px 0;
    color: #a0a0a0;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    border: 1px solid #ecf0f1;
    background: #ecf0f1;
    padding: 7px 0px;
    display: inline-block !important;
    visibility: visible !important;
    border-radius: 20px;
    width: 35vw;
    box-shadow: gray;
    outline: gray;
}

#formulario1 {
    position: absolute;
    top: 0;
    margin-top: 150px;
    display: flex;
    
}
#fechalimite{
    margin-top: 10px;
}
#prioridad {
    margin-top: 70px;
}
.izquierda {
    flex: 1;
}
.derecha {
    flex: 2;
    position: absolute;
    margin-left: 40vw;
}

input[type="range"] {
    width: 35vw;
    margin-top: 40px;
    height:7px;
    
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:rgb(0, 0, 0);
    height:10px;
    width:10px;
    margin-bottom: 30px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    cursor: pointer;
    transform: scale(1.3);
}
#prioridades {
    position: absolute;
    top: 0;
    margin-top: 275px;
    display: flex;    
}
#baja {
    position: absolute;
    left: 0;
    margin-left: 0vw;
}
#media {
    position: relative;
    left: 0;
    margin-left: 16vw;
}
#alta {
    position: absolute;
    left: 0;
    margin-left: 32vw;
}
input[type="text"]:focus{
    outline: none !important;
    border-color: gray;
    box-shadow: 0 0 8px gray;
}