body {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.5px;
}

.fondo {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    width: 100%;
}
.inputPersonalizado {
    width: 35vw;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block; 
    border: 1px solid #ccc; 
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 16px;
    border-color: #8b8b8b;
    outline: none;
    box-shadow: 0 0 20px rgba(112, 112, 112, 0.5);
}
.inputPersonalizadoDoble {
    width: 35vw;
    padding: 34vh 15px;
    margin: 8px 0;
    display: inline-block; 
    border: 1px solid #ccc; 
    border-radius: 20px;
    box-sizing: border-box; 
    font-size: 16px;
    border-color: #8b8b8b;
    outline: none;
    box-shadow: 0 0 20px rgba(112, 112, 112, 0.5);
    background-image: url("../imagenes/fondocuaderno.jpg");
    resize: none;
}
input[type="date"] {
    appearance: none; /* Removes default styling on some browsers */
    -webkit-appearance: none; /* For older WebKit/Chrome browsers */
    color: #a0a0a0;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border: 1px solid #ecf0f1;
    background: #ecf0f1;
    padding: 5px;
    display: inline-block !important;
    visibility: visible !important;
    border-radius: 20px;
    width: 35vw;
    box-shadow: gray;
    outline: gray; /* Optional: removes the default focus outline */
}

#formulario1 {
    position: absolute;
    top: 0;
    margin-top: 100px;
    display: flex;
    
}
.izquierda {
    flex: 1;
}
.derecha {
    flex: 2;
    position: absolute;
    margin-left: 40vw;
}