body {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.5px;
}

.fondo {
    background-image: url("../imagenes/fondo.jpg");
    background-color: gray;
    background-size: cover;
    width: 100%;
}
