.tareasContenedor h3{
    color: #868686;
    margin-bottom: 2vh;
}

.tareas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 3vh;
    color: #555555;
}

.sinCompletar{
    margin-bottom: 2vh;
}

.tachar{
    text-decoration: line-through;
}